soap.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers/" name="FollowControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://controllers/" schemaLocation="http://localhost:8080/followerservice?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="accept">
<part name="parameters" element="tns:accept"></part>
<part name="apikey" element="tns:apikey"></part>
</message>
<message name="acceptResponse">
<part name="result" element="tns:acceptResponse"></part>
</message>
<message name="unfollow">
<part name="parameters" element="tns:unfollow"></part>
<part name="apikey" element="tns:apikey"></part>
</message>
<message name="unfollowResponse">
<part name="result" element="tns:unfollowResponse"></part>
</message>
<message name="follow">
<part name="parameters" element="tns:follow"></part>
<part name="apikey" element="tns:apikey"></part>
</message>
<message name="followResponse">
<part name="result" element="tns:followResponse"></part>
</message>
<message name="health">
<part name="parameters" element="tns:health"></part>
<part name="apikey" element="tns:apikey"></part>
</message>
<message name="healthResponse">
<part name="result" element="tns:healthResponse"></part>
</message>
<message name="reject">
<part name="parameters" element="tns:reject"></part>
<part name="apikey" element="tns:apikey"></part>
</message>
<message name="rejectResponse">
<part name="result" element="tns:rejectResponse"></part>
</message>
<message name="getPendingFollowerIds">
<part name="parameters" element="tns:getPendingFollowerIds"></part>
<part name="apikey" element="tns:apikey"></part>
</message>
<message name="getPendingFollowerIdsResponse">
<part name="result" element="tns:getPendingFollowerIdsResponse"></part>
</message>
<message name="getCurrentFollowerIds">
<part name="parameters" element="tns:getCurrentFollowerIds"></part>
<part name="apikey" element="tns:apikey"></part>
</message>
<message name="getCurrentFollowerIdsResponse">
<part name="result" element="tns:getCurrentFollowerIdsResponse"></part>
</message>
<portType name="FollowController">
<operation name="accept" parameterOrder="parameters apikey">
<input wsam:Action="http://controllers/FollowController/acceptRequest" message="tns:accept"></input>
<output wsam:Action="http://controllers/FollowController/acceptResponse" message="tns:acceptResponse"></output>
</operation>
<operation name="unfollow" parameterOrder="parameters apikey">
<input wsam:Action="http://controllers/FollowController/unfollowRequest" message="tns:unfollow"></input>
<output wsam:Action="http://controllers/FollowController/unfollowResponse" message="tns:unfollowResponse"></output>
</operation>
<operation name="follow" parameterOrder="parameters apikey">
<input wsam:Action="http://controllers/FollowController/followRequest" message="tns:follow"></input>
<output wsam:Action="http://controllers/FollowController/followResponse" message="tns:followResponse"></output>
</operation>
<operation name="health" parameterOrder="parameters apikey">
<input wsam:Action="http://controllers/FollowController/healthRequest" message="tns:health"></input>
<output wsam:Action="http://controllers/FollowController/healthResponse" message="tns:healthResponse"></output>
</operation>
<operation name="reject" parameterOrder="parameters apikey">
<input wsam:Action="http://controllers/FollowController/rejectRequest" message="tns:reject"></input>
<output wsam:Action="http://controllers/FollowController/rejectResponse" message="tns:rejectResponse"></output>
</operation>
<operation name="getPendingFollowerIds" parameterOrder="parameters apikey">
<input wsam:Action="http://controllers/FollowController/getPendingFollowerIdsRequest" message="tns:getPendingFollowerIds"></input>
<output wsam:Action="http://controllers/FollowController/getPendingFollowerIdsResponse" message="tns:getPendingFollowerIdsResponse"></output>
</operation>
<operation name="getCurrentFollowerIds" parameterOrder="parameters apikey">
<input wsam:Action="http://controllers/FollowController/getCurrentFollowerIdsRequest" message="tns:getCurrentFollowerIds"></input>
<output wsam:Action="http://controllers/FollowController/getCurrentFollowerIdsResponse" message="tns:getCurrentFollowerIdsResponse"></output>
</operation>
</portType>
<binding name="FollowControllerPortBinding" type="tns:FollowController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="accept">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:accept" part="apikey" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unfollow">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:unfollow" part="apikey" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="follow">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:follow" part="apikey" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="health">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:health" part="apikey" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="reject">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:reject" part="apikey" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPendingFollowerIds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:getPendingFollowerIds" part="apikey" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCurrentFollowerIds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:getCurrentFollowerIds" part="apikey" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FollowControllerService">
<port name="FollowControllerPort" binding="tns:FollowControllerPortBinding">
<soap:address location="http://localhost:8080/followerservice"></soap:address>
</port>
</service>
</definitions>